# Recap: You've protected your backpack and made some friends in the forest! Now, one of them comes up to you and gives you a very important dataset. Because as you know, the biggest threat to kitties is not an empty food bowl, but instead...

# DOGS!

First, let's get behind our computer

![](images/20221108102822.png)

This data might tell us something we can use to defeat the dogs, awesome! Now let's load it.

We are currently in the root of our working directory, the main folder of our adventures.

We have here a data folder with one file in it, "cats_dogs.csv"

First, we'll have to load our pandas army using "import pandas as pd":

Why "pd" you ask? Well simple; if you just "import pandas", you'll have to type pandas full out every time, thats really annoying miauw! so now we can just write pd, here I'll show you:

In [3]:
pd.DataFrame({"Kittens" : [1, 2], "Names" : ["Tessy", "Jonas"]})

NameError: name 'pd' is not defined

You see, I made a dataframe! Awesome. As you can see, it's defined identically as a dictionary.

But instead of a dictionary item, we use pandas columns; "column_name" : [list, of, items]

Let me show you that you can transform a dictionary into a dataframe for our pandas:

In [ ]:
test_dict = {}
test_dict["column one"] = [1, 2]
test_dict["column two"] = [2, 3]

dictionary_dataframe = pd.DataFrame(test_dict)
dictionary_dataframe

The columns before column one is our index list. When we import our dataset, we'll set index=False, so that we don't have this extra column. We'll do this soon.

First, your own dataframe. You can do this either directly like we did at the beginning, or make a dictionary first, whatever you want. 

Give it two columns with two items each. You could make a column with some cat names, and a column with their favourite toys, for instance.

Great, now they can play with their favourite toy!

![](images/20221108103339.png)

Do you think you are ready for importing the dataset? Let's try it!

I'll write down the PATH to our dataset for you, to make it easier

In [5]:
PATH = "data/cats_dogs.csv"

Now it's up to you to load it. The function is called pd.read_csv()..

Don't forget to add index=False in the function, so we don't get that annoying extra column..

In [6]:
import pandas as pd
cat_dataset = pd.read_csv(PATH)

In [7]:
cat_dataset[36:39]

,Number of Households (in 1000),Percentage of households with pets,Number of Pet Households (in 1000),Percentage of Dog Owners,Dog Owning Households (1000s),Mean Number of Dogs per household,Dog Population (in 1000),Percentage of Cat Owners,Cat Owning Households,Mean Number of Cats,Cat Population
36,5.172,"56,9",2.942,"32,9",1.702,"1,5",2.485,"33,8",1.748,"2,0",3.544
37,434.000,"53,0",230.000,"29,3",127.000,"1,3",161.000,"27,6",120.000,"1,8",212.000
38,1.759,"54,1",951.000,"38,6",678.000,"1,8",1.191,"27,8",490.000,"2,1",1.039

Now let's see out dataset!

In [20]:
cat_dataset

,Number of Households (in 1000),Percentage of households with pets,Number of Pet Households (in 1000),Percentage of Dog Owners,Dog Owning Households (1000s),Mean Number of Dogs per household,Dog Population (in 1000),Percentage of Cat Owners,Cat Owning Households,Mean Number of Cats,Cat Population
0,1.828,"59,5",1.088,"44,1",807.000,"1,7",1.410,"27,4",501.000,"2,5",1.252
1,2.515,"59,5",1.497,"40,1",1.008,"1,8",1.798,"29,6",743.000,"1,9",1.438
2,1148.000,"62,4",716.000,"47,9",550.000,"2,0",1.097,"30,6",351.000,"2,3",810.000
3,12.974,"52,9",6.865,"32,8",4.260,"1,6",6.687,"28,3",3.687,"1,9",7.118
4,1.986,"61,3",1.217,"42,5",845.000,"1,6",1.349,"32,3",642.000,"1,9",1191.000
5,1.337,"54,4",728.000,"28,3",379.000,"1,3",507.000,"31,9",427.000,"1,9",796.000
6,334.000,"56,6",189.000,"33,7",113.000,"1,4",163.000,"33,7",113.000,"1,7",187.000
7,287.000,"21,9",63.000,"13,1",38.000,"1,1",42.000,"11,6",33.000,"1,9",63.000
8,7.609,"54,4",4.138,"35,7",2.718,"1,5",4.210,"27,3",2.079,"2,1",4.375
9,3.798,"55,1",2.093,"40,1",1.522,"1,6",2.479,"27,3",1.037,"2,1",2.162
10,568.000,"62,0",352.000,"42,7",242.000,"1,5",357.000,"34,6",196.000,"2,0",393.000
11,5.026,"51,8",2.602,"32,4",1.627,"1,5",2.365,"26,3",1.321,"1,9",2.453
12,2.478,"59,9",1.484,"39,9",989.000,"1,6",1.619,"34,4",852.000,"2,2",1.912
13,1.219,"53,6",654.000,"33,4",407.000,"1,5",610.000,"30,3",370.000,"2,2",805.000
14,1.133,"61,0",691.000,"42,3",480.000,"1,6",774.000,"33,3",378.000,"1,9",731.000
15,1.777,"61,6",1.094,"45,9",816.000,"1,9",1.531,"36,8",654.000,"2,1",1.349
16,1.702,"55,1",937.000,"36,4",619.000,"1,8",1115.000,"25,9",441.000,"2,0",877.000
17,548.000,"62,9",345.000,"34,6",190.000,"1,6",300.000,"46,4",254.000,"1,9",498.000
18,2.169,"52,3",1.134,"30,8",667.000,"1,4",915.000,"29,8",645.000,"2,6",1.677
19,2.618,"50,4",1.318,"23,6",618.000,"1,4",850.000,"34,1",892.000,"1,8",1.593
20,3.804,"55,4",2.108,"34,6",1.318,"1,5",2.036,"31,3",1.192,"2,0",2.420
21,2.163,"53,0",1.146,"31,9",690.000,"1,4",934.000,"29,7",643.000,"2,0",1.264
22,1115.000,"56,4",629.000,"45,2",504.000,"1,7",846.000,"29,1",324.000,"2,1",668.000
23,2.498,"61,4",1.534,"45,9",1.148,"1,7",1.978,"32,2",805.000,"2,1",1.653
24,410.000,"61,3",251.000,"41,2",169.000,"1,7",282.000,"33,6",138.000,"2,0",277.000
25,710.000,"51,3",364.000,"33,8",240.000,"1,6",374.000,"31,3",222.000,"2,3",514.000
26,986.000,"55,6",548.000,"37,1",366.000,"1,6",578.000,"30,3",299.000,"2,1",625.000
27,508.000,"56,8",289.000,"30,3",154.000,"1,4",212.000,"34,2",174.000,"1,8",309.000
28,3.177,"50,7",1.611,"32,4",1.028,"1,3",1.340,"25,3",803.000,"1,8",1.468
29,773.000,"67,6",523.000,"46,0",356.000,"2,0",703.000,"32,0",247.000,"2,2",533.000
30,7.512,"50,6",3.802,"29,0",2.177,"1,4",3.054,"29,1",2.189,"1,9",4.261
31,3.701,"56,4",2.089,"40,3",1.491,"1,7",2.518,"29,5",1.090,"2,0",2.220
32,272.000,"53,9",147.000,"36,1",98.000,"1,4",139.000,"31,4",85.000,"2,0",174.000
33,4.661,"57,4",2.677,"36,6",1.708,"1,6",2.730,"33,3",1.553,"2,4",3.786
34,1.479,"58,9",872.000,"43,2",638.000,"2,1",1.327,"32,6",482.000,"2,2",1.041
35,1.505,"63,6",957.000,"38,8",584.000,"1,6",917.000,"40,2",605.000,"2,0",1.185
36,5.172,"56,9",2.942,"32,9",1.702,"1,5",2.485,"33,8",1.748,"2,0",3.544
37,434.000,"53,0",230.000,"29,3",127.000,"1,3",161.000,"27,6",120.000,"1,8",212.000
38,1.759,"54,1",951.000,"38,6",678.000,"1,8",1.191,"27,8",490.000,"2,1",1.039
39,333.000,"65,6",219.000,"42,8",143.000,"1,5",220.000,"39,1",130.000,"2,2",290.000
40,2.583,"59,6",1.540,"44,1",1.140,"1,9",2.157,"29,8",770.000,"2,3",1.749
41,9.002,"58,5",5.265,"44,0",3.960,"1,8",7.163,"28,3",2.544,"2,2",5.565
42,930.000,"51,2",476.000,"29,4",273.000,"1,5",410.000,"24,6",229.000,"2,0",455.000
43,265.000,"70,8",188.000,"37,7",100.000,"1,4",142.000,"49,5",131.000,"1,8",234.000
44,3.017,"53,4",1.611,"35,4",1.069,"1,6",1.699,"29,0",876.000,"2,1",1.855
45,2.632,"62,7",1.649,"36,3",954.000,"1,7",1.609,"39,0",1.028,"1,8",1.844
46,765.000,"62,1",475.000,"45,8",350.000,"1,8",648.000,"38,1",291.000,"2,2",628.000
47,2.350,"57,5",1.352,"33,9",796.000,"1,4",1.138,"33,0",776.000,"1,9",1.510
48,221.000,"61,8",137.000,"38,8",86.000,"1,5",125.000,"33,9",75.000,"1,9",144.000

Wooooow that's wayy to much information, let's use a cool function called head(), which shows the number of ROWS that we want to see, by default this is 5.

.head() does not require "pd.", as .head() works directly on a dataset.. Google if you have to.

Also, since there is a "." before "head()", you know that this is a method, and that means it is APPLIED to a variable. So it comes after the variable, and not before. .head(cat_dataset) is WRONG.

Beautiful! Now we can see it clearly. You know what, I don't like to scroll, let's just print out all the columns of this pandas dataset directly, can you do that for me?

Wow.. that's a lot to work with. Why don't we take the first column "Number of Households (in 1000)" and print only that column.

Remember, pandas dataframes work very much like dictionaries, and can be accessed the same way. Try to print out the first column "Number of Households (in 1000)" here:

PRO TIP: instead of writing down the entire name of the column, maybe you could also just put in the first index of the list of columns we made above? Would be easier, right? something like .columns[0]?

In [29]:
num_households = ...
print(num_households)

pandas.core.series.Series

Pfew, so we have 48 rows in our dataset. Interesting. So the kitties here tell me that these are all different districts in our kitty wonderland, and they all have their own row. So the 0'th district has 1.828 * 1000 households with kitties in them, so cute!

![](images/20221108104427.png)

Why don't we try and get the average of all the districts? I think we should ask some help from our friends over at Numpy, they are really good with numbers!

import numpy as np    below!

In [30]:
import numpy as np

Great, now let's use our np.mean() function to print our mean number of households

Just 218?? I thought more. Anyway, let's go back to our entire cat_dataframe.. Why don't you print the rows 36-39. Pandas dataframes work like lists in that sense

You see that! District 38 has a massive number of households, let's take that row!

In [ ]:
distric_38 = 

print(distric_38)

But why didnt we just use cat_dataset[38]? Well, indexing works out somewhat differently from lists for instance. With lists, you can give the list[index] and you'll get that item, but pandas dataframes work like dictionaries: dataframe[item], 

where item stands for column name

and our district 38 is a row at index 38, we know that.

so the our_dataframe.iloc[index] method gives us the ROW at that index

Just for fun, let's try and compare the number of households against the SUM of all households in our dataset. The sum function is done identically to the numpy's mean function, try it out.

To be clear, you want to devide district 38's number of households to the TOTAL sum of households of the dataset, so you'll have to devide here and print it

In [ ]:
print(..)

Great!

Suddenly many well-dressed kitties barge in through the door..

![](images/20221108105837.png)

Since you've learned the .iloc method and the dataframe indexing, we DEMAND you make a new dataset 

containing only the rows between 5 and 40!

In [ ]:
demanded_dataset = ...
demanded_dataset.head(10)

Okay okay, I did.. what now angry kitties!?

"Now PRINT using a for loop, all the percentage of dog owners for every district! We need to see the truth!"

We'll help you a bit. we'll print all the district indexes for you, all 34 (between 5 and 40) of the demanded dataset. Use the district index to print the percentage of dog owners for each district!

hinthint: .iloc[...][column name]

In [ ]:
for district in range(len(demanded_dataset)):
    print(district)

Some kitties seemed to have left, the pain was too deep...

![](images/20221108110730.png)

"Okay.. Okay, just like we feared. Fine!" The lead kitty looks distressed..

"Take our previous for loop that we'll add below, and this time print for every district if the percentage of dog owners is greater than the percentage of cat owners."

You can do this with an if-else statement, either printing TRUE or FALSE.. or you can be smart and use boolean operation:

```python
a = 10
b = 20

if a > b:
    print(True)
else:
    print(False)
```

Or.. you can just use boolean operation directly:

```python
print(a > b)
```

In [ ]:
for district in range(len(demanded_dataset)):
    ...

    
    # Hint: uncomment the following code if you're in trouble
    # current_district = demanded_dataset.iloc[district]
    # percentage_dog_owners = ...
    # percentage_cat_owners = ...
    # print(percentage_dog_owners > percentage_cat_owners)

Oh MIAUWSELS! It seems many districts have more dig owners than cat owners... Thats terrible! Let's use our dataframe knowledge next time to find out why, and how to stop it!

![](images/20221108111724.png)